
<div class="center jumbotron bg-grey bigh1">
    <h1>BOOKS</h1>
</div>
<div class="card container">
<div class="card-content">
<div class="row">
<div class="col-7">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" (click)="refreshBookList()">My Wish List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Coming soon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Library Near Me</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div *ngFor="let bk of bookservice.books ;let i = index">
                <div class="card">
                <div class="cardTitle">
                <div *ngIf="bk?.title">
                <div class="expandCollapse font-weight-bold text-wrap">
                    <a (click)="toggle(i)">
                        <p>{{bk.title}}</p>
                    </a>
                </div>
                </div>
                </div>
                <div class="expandCollapseContent" *ngIf="hideRuleContent[i]">
                <p class="mb-3"><span class="font-weight-bold">Author: </span>  {{bk.author}}</p>
                <p class="mb-3"><span class="font-weight-bold">About: </span>{{bk.description}}</p>
                <div class="removeButton">
                <!--<a class="btn btn-success mr-3" (click)="onView(bk)">View</a>-->
                <a class="btn btn-danger" (click)="onDelete(bk._id)">Remove</a>
                </div>
                </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Coming Soon</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Coming Soon</div>
      </div>
      


<!-- <a class="f30" (click)="refreshBookList()">My Wish List</a> -->
    <!-- <p>{{childemail}}</p> -->
 <!-- <app-book [childtitle]="Title" [childauthor]="Author" [childdes]="Des"  ></app-book> -->
 <!-- <div *ngFor="let bk of bookservice.books ;let i = index">
    <div class="card">
    <div class="cardTitle">
    <div *ngIf="bk?.title">
    <div class="expandCollapse font-weight-bold text-wrap">
        <a (click)="toggle(i)">
            <p>{{bk.title}}</p>
        </a>
    </div>
    </div>
    </div>
    <div class="expandCollapseContent" *ngIf="hideRuleContent[i]">
    <p class="mb-3"><span class="font-weight-bold">Author: </span>  {{bk.author}}</p>
    <p class="mb-3"><span class="font-weight-bold">About: </span>{{bk.description}}</p>
    <div class="removeButton">
    <a class="btn btn-success mr-3" (click)="onView(bk)">View</a>
    <a class="btn btn-danger" (click)="onDelete(bk._id)">Remove</a>
    </div>
    </div>
    </div>
</div> -->
</div>
<div class="col-5">
    <div class="container">
        <div class="mb-5">
        <h1>Search Books</h1>
        <form #searchForm="ngForm">
            <div class="form-group">
                <input type="text" class="form-control mt-10" name="searchVariable" placeholder="Search for books" autocomplete="off" ngModel required/>
            </div>
                <button type="submit" class="btn btn-danger mr-3" (click)="onSubmit(searchForm)">Search</button>
                <button type="submit" class="btn btn-success" (click)="resetSearch(searchForm)">Reset</button>
        </form>
        </div>
    <div *ngIf="!isHidden">
    <div *ngFor="let item of items">
        
        <form #bookaddForm="ngForm">
        <table class="responsive-table">
        <tr>
        <td class="frsCol">
            <p class="sr-only">{{item.volumeInfo.imageLinks?.thumbnail}}</p>
            <img class="bookImg" src={{item.volumeInfo.imageLinks?.thumbnail}} alt="Smiley face">
        </td>
        <td class="secCol">
        <p>Title: {{item?.volumeInfo.title}}</p>
        <p>Author: {{item?.volumeInfo.authors}}</p>
        <p class="sr-only">{{item.volumeInfo.description}}</p>
        <button (click)="setTitle(item);passToDB(item);" class="btn btn-success mt-4">Add</button>
        </td>
        <p class="d-block d-sm-none">---------------</p>
        </tr>
        </table>
        </form>
        
    </div>
    </div> 
    </div>
    
</div>
</div>
</div>
</div>

