
<app-nav></app-nav>
<div id="carouselExampleSlidesOnly" class="carousel slide">
      <div class="center bigh1 align-middle mt-5">
          <h1>BOOKS</h1>
    </div>
</div>
<div class="container">
    <div class="card mb-3">
        <div class="accordion" id="accordionExample">
        <div class="ml-5 mr-5 mt-5 mb-5">
        <a class="f25"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        About Books
        </a>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
        <p class="text-justify ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas leo risus, convallis a luctus sed, euismod non magna. Nulla facilisi. Integer quam justo, aliquam sed vestibulum in, imperdiet sit amet sapien. Nam a elit lacus.<br> Etiam nisl nulla, convallis non commodo eu, porttitor ut lacus. Duis bibendum auctor erat, ut maximus turpis convallis ut. Morbi convallis hendrerit leo, et convallis lorem molestie id. Aenean erat nisi, ornare sed accumsan eu, ultrices sit amet sapien. Etiam bibendum tincidunt est, nec varius eros egestas non. Nulla gravida diam eget auctor blandit. Nulla pulvinar lorem at felis imperdiet, sed pretium erat lacinia. Ut eu auctor elit. Etiam quis tempus dui. Sed posuere libero magna. Donec luctus viverra tempus. Phasellus quis lorem magna.
        Duis faucibus purus ut orci maximus, vel interdum ante congue. Etiam sed aliquet nisi, vitae rhoncus leo. Etiam orci ante, ornare sed ante eu, tincidunt fringilla ex. Donec et vehicula leo.<br> Vestibulum porta auctor arcu ac lacinia. Proin sollicitudin quam gravida, porta arcu quis, dictum erat. Vivamus ex sapien, hendrerit eu pulvinar in, placerat at mi. Nam quam libero, porta in fermentum ut, malesuada dapibus tortor. Curabitur in nulla suscipit ex iaculis accumsan. Nam vel ipsum vel enim eleifend placerat eu vel urna. Nulla id enim quis risus aliquam iaculis. Cras augue dolor, dapibus at malesuada eget, imperdiet quis quam.</p>
        </div>
        </div>
        </div>
        </div>
    </div>
</div>





<div id="stack">
<div class="container">
<div class="row ">
    <div class="col-sm">
        <div class="flip-card mt-5 mb-5">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="material-icons f50 mt-5">eco</i>
                <p>MongoDB</p>
              </div>
              <div class="flip-card-back">
                <h1 class="mt-5">MongoDB</h1> 
                <p></p> 
                <p></p>
              </div>
            </div>
        </div>  
    </div>
    <div class="col-sm">
    <div class="flip-card mt-5 mb-5">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <i class="material-icons f50 mt-5">euro_symbol</i>
            <p>Express</p>
          </div>
          <div class="flip-card-back">
            <h1 class="mt-5">Express</h1> 
            <p></p> 
            <p></p>
          </div>
        </div>
    </div>
    </div>
      <div class="col-sm mt-5 mb-5">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="material-icons f50 mt-5">font_download</i>
                <p>Angular</p>
              </div>
              <div class="flip-card-back">
                <h1 class="mt-5">Angular</h1> 
                <p></p> 
                <p></p>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm mt-5 mb-5">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <i class="material-icons f50 mt-5"> perm_data_setting </i>
                <p>Node js</p>
              </div>
              <div class="flip-card-back">
                <h1 class="mt-5">Node js</h1> 
                <p></p> 
                <p></p>
              </div>
            </div>
        </div>
      </div>
      
</div>
</div>
</div>

<div class="container">
    <div class="card mb-3">
        <header class="masthead text-white text-center mt-5">
            <div class="container d-flex align-items-center flex-column">
              <img class="masthead-avatar mb-5 rounded-circle" src="/assets/img/profilePic.JPG" alt="">
            </div>
        </header>
        <div class="center">
            <p>Neena Susan</p>
            <p>Full Stack Developer</p>
            <i class="material-icons">maximize</i><i class="material-icons">star</i> <i class="material-icons">maximize</i>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="ml-5 mr-5 mt-5 mb-5">
            <a class="f25"  data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">
            About Me
            </a>
              <div id="collapsetwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
            <p class="text-justify ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas leo risus, convallis a luctus sed, euismod non magna. 
            Duis faucibus purus ut orci maximus, vel interdum ante congue. Etiam sed aliquet nisi, vitae rhoncus leo. </p>
            </div>
            </div>
            </div>
            </div>
      </div>
</div>

<section class="page-section bg-yellow portfolio" id="portfolio">
       
    <div class="container">  
    <div class="row">
        <div class="col-sm-6 mt-5 mb-5">
            <p class="f25"><i class="material-icons f30">library_books</i>Education</p>
            <ul>
                <li><i class="material-icons">done</i>Masters In Computer Science and Engineering</li>
                <li><i class="material-icons">done</i>Bachleors In Computer Science and Engineering</li>
            </ul>
            <div class="row mt-5">
            <div class="col-sm-4">Front End</div>
            <div class="col-sm-8">
            <div class="progress" style="height:6px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-sm-4">Back End</div>
                <div class="col-sm-8">
                <div class="progress" style="height:6px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Database</div>
                    <div class="col-sm-8">
                    <div class="progress" style="height:6px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                    </div>
                    </div>
                    </div>
        </div>
        <div class="col-sm-6">
          <p class="mt-5 f25 mb-5 ml-5">Experience</p>
          <p class="ml-5">Stride Management corp</p>
          <p class="ml-5">HireGround Software Solutions</p>
          <p class="ml-5">Greentouch Solutions</p>
          <p class="ml-5">Nucleus Premium Properties</p>
        </div>
      </div>
    </div>   
</section>
      

<section class="bg-blue text-white ">
    <div class="container">
        <div class="row">
          <div class="col mt-5 mb-5">
            <p class="f20">Contacts</p>
            <p><i class="material-icons mr-3">near_me</i>Address</p>
            <p><i class="material-icons mr-3">local_phone</i>000 000 0000</p>
            <p><i class="material-icons mr-3">contact_phone</i>000 000 0000</p>
            <p><i class="material-icons mr-3">mail_outline</i>mail@gmail.com</p>
          </div>
          <div class="col mt-5 mb-5">
            <p class="f20">Shortcuts</p>
            <p>Home</p>
            <p>About</p>
          </div>
          <div class="col-6 mt-5 mb-5">
           <p class="f20">Contact Me</p>
           <p>Got a question? I'd like to hear from you. Send a message and i will respond as soon as possible</p>
           <form>   
                <div class="form-row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col">
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary mb-2">Send</button>
           
            </form>
        </div>
        </div>
        <div>

            
        </div>
    </div>
</section>


  